/bin/memento
/bin/strategy
/bin/pattern_bases

/memento/build/CMakeFiles
/memento/build/CMakeCache.txt
/memento/build/Makefile

/strategy/build/CMakeFiles
/strategy/build/CMakeCache.txt
/strategy/build/Makefile

/pattern_bases/build/CMakeFiles
/pattern_bases/build/CMakeCache.txt
/pattern_bases/build/Makefile

*.cmake
*.swp
